---
// Wallpaper Component with animated canvas
---

<div id="wallpaper" aria-hidden="true">
  <canvas id="noiseCanvas"></canvas>
</div>

<script>
  import { initWallpaper } from "../scripts/wallpaper";
  initWallpaper();
</script>
